<section class="benefits">
    <div class="container">
        <h2 class="section-title">KEY FEATURES</h2>
        <p class="section-subtitle">Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque neque. In
            sit amet lectus non lacus sollicitudin
            cursus a vitae felis. Praesent luctus mi quis nisi interdum eleifend.</p>

        <ul class="benefits-list">
            <li class="benefits-list__item benefits-list__image">
                <img src="/img/benefits-main-img.png" alt="image">
            </li>
            <li class="benefits-list__item">
                <div class="benefits-list__content">
                    <h3 class="benefits-list__title">Amet varius</h3>
                    <p class="benefits-list__subtitle">Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
                        Vivamus
                        diam a iaculis malesuada</p>
                </div>
            </li>
            <li class="benefits-list__item">
                <div class="benefits-list__content">
                    <h3 class="benefits-list__title">Amet varius</h3>
                    <p class="benefits-list__subtitle">Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
                        Vivamus
                        diam a iaculis malesuada</p>
                </div>
            </li>
            <li class="benefits-list__item">
                <div class="benefits-list__content">
                    <h3 class="benefits-list__title">Amet varius</h3>
                    <p class="benefits-list__subtitle">Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
                        Vivamus
                        diam a iaculis malesuada</p>
                </div>
            </li>
            <li class="benefits-list__item">
                <div class="benefits-list__content">
                    <h3 class="benefits-list__title">Amet varius</h3>
                    <p class="benefits-list__subtitle">Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
                        Vivamus
                        diam a iaculis malesuada</p>
                </div>
            </li>
            <li class="benefits-list__item">
                <div class="benefits-list__content">
                    <h3 class="benefits-list__title">Amet varius</h3>
                    <p class="benefits-list__subtitle">Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
                        Vivamus
                        diam a iaculis malesuada</p>
                </div>
            </li>
            <li class="benefits-list__item">
                <div class="benefits-list__content">
                    <h3 class="benefits-list__title">Amet varius</h3>
                    <p class="benefits-list__subtitle">Donec posuere augue venenatis, aliquet ligula ut, tempus quam.
                        Vivamus
                        diam a iaculis malesuada</p>
                </div>
            </li>
        </ul>
    </div>
</section>